.extra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .extra {
    width: 87%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay h1 {
    font-size: 120px;
    margin-bottom: 10px;
    margin-right: 400px;

  }
  
  .text-overlay p {
    font-size: 25px;
    margin-right: 400px;
  }