.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    align-items: center;
    background-color: rgb(72, 169, 183);
    border: 3px solid rgb(107, 107, 107);
    border-radius: 7%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input {
    width: 150px;
    padding: 5px;
    margin-bottom: 12px;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 7px;
  }
  
  button {
    padding: 5px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 12px;
  }
  
  button:hover {
    background-color: #003e81;
  }
  
  span {
    font-size: 14px;
    color: red;
    margin-bottom: 8px;
  }
  