.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 169, 183);
    border: 3px solid rgb(107, 107, 107);
    border-radius: 7%;
    padding: 25px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}